.rubik-font
  font-family: "Rubik", sans-serif
  font-optical-sizing: auto
  font-weight: 300
  font-style: normal

$mobile: 360px
$desktop: 1280px

.attribution
    font-size: 1.8vh
    text-align: center
    padding: 2vh

    @media only screen and (min-width: $mobile) and (max-width: calc($desktop - 1px))
        font-size: 1.5vh

    a
     color: hsl(228, 45%, 44%)

html
    width: 100%
    height: 100%

body
    width: 100%
    height: 100%
    margin: 0
    padding: 0

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    font-family: "Rubik", sans-serif
    font-weight: 300
    color: white
    background: hsl(226, 43%, 10%)

    @media only screen and (min-width: $mobile) and (max-width: calc($desktop - 1px)) 
        justify-content: normal

main
    @media only screen and (min-width: $mobile) and (max-width: calc($desktop - 1px)) 
        display: grid
        width: 85%

        grid-template-columns: repeat(1, 1fr)
        align-items: center
        justify-items: center

        padding-top: 4vh
        padding-bottom: 0vh
        gap: 3vh

        border-box: box-sizing
            
    @media only screen and (min-width: $desktop)
        width: 75%
        min-height: 60%

        margin: 0

        display: grid
        align-items: center
        justify-items: center
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(2, 1fr)
        gap: 2vh

#profile-menu
    grid-row: span 2
    height: 100%
    width: 100%
    border-radius: 2vh

    display: grid
    background: hsl(235, 46%, 20%)

    .timeframe
        box-sizing: border-box
        transition: color 0.3s ease
        color: hsl(235, 45%, 61%)
        &:hover
            cursor: pointer
            color: white

    // #daily, #monthly
    //     color: hsl(235, 45%, 61%)


    @media only screen and (min-width: $mobile) and (max-width: calc($desktop - 1px)) 
        display: grid
        #profile
            grid-row: span 2

            display: flex
            justify-content: center
            align-items: center
            gap: 1em
            
            background: hsl(246, 80%, 60%)
            
            box-sizing: border-box
            padding: 4vh
            border-radius: 2vh
        
        #dp 
            flex: 0 1 10%
            img
                width: 7vh
                border-radius: 100%
                outline: .3vh solid white
        span
            flex: 1 1 0%
        #message
            color: hsl(236, 100%, 87%)
            font-size: 1.5vh
            font-weight: 300
        #name
            font-size: 2.5vh
        #menu
            display: flex
            grid-template-columns: repeat(3, 1fr)
            align-items: center

            min-height: 6vh
            min-width: 0
            
            padding: .5vh 4vh .5vh 4vh

            text-align: left
            font-weight: 400
            font-size: 2vh

            gap: 20%
            .timeframe
                max-width: 6ch

    @media only screen and (min-width: $desktop)
        box-sizing: border-box
        grid-template-rows: repeat(3, 1fr)
        border-radius: 2vh

        #profile
            height: 100%
            background: hsl(246, 80%, 60%)
            box-sizing: border-box
            padding: 4vh
            grid-row: span 2
            display: block

            border-radius: 2vh

        #dp 
            width: 100%

            margin-bottom: 3em
            img
                width: 10vh
                border-radius: 100%
                outline: .25em solid white
        #message
            font-weight: 300
            font-size: 1.8vh
            color: hsl(236, 100%, 87%)
        #name
            font-weight: 300
            font-size: 4vh
        
        #menu
            display: flex
            flex-direction: column
            justify-content: center
            align-items: normal
            // grid-template-rows: repeat(3, 2em)
            gap: 1.25em

            box-sizing: border-box
            padding: 1em 1.8em 1em 1.8em

            font-weight: 300
            font-size: 2vh
        .timeframe
            text-align: left

.card
    background: hsl(235, 46%, 20%)
    font-size: 2vh
    width: 100%
    height: 100%

    &__content
        border-radius: 2vh
        margin-top: -1em
        padding: 3vh 3vh 0vh 3vh
        background: hsl(235, 46%, 20%)

    &__cover
        max-height: 25%
        border-radius: 2vh 2vh 0 0
        background: hsl(15, 100%, 70%)
        display: flex
        align-items: center
        overflow: hidden

        img
            margin-left: auto
            width: 10vh
            height: 10vh
            padding-right: 2vh
            text-align: right

            object-fit: contain

    #work-cover
        background: hsl(15, 100%, 70%)
    #play-cover
        background: hsl(195, 74%, 62%)
    #study-cover
        background: hsl(348, 100%, 68%)
    #exercise-cover
        background: hsl(145, 58%, 55%)
    #social-cover
        background: hsl(264, 64%, 52%)
    #selfcare-cover
        background: hsl(43, 84%, 65%)
    
    @media only screen and (min-width: $mobile) and (max-width: calc($desktop - 1px)) 
        border-radius: 2vh

        display: flex
        flex-direction: column

        &__cover
            max-height: 35%

        &__header

            width: 100%
            display: flex

            flex-direction: row
            align-items: center

            margin-bottom: 10px
            &__title
                flex: 1 1 80%
                font-weight: 400

            img

                height: 5px
                padding-right: 0

        &__stats
            display: flex
            align-items: center

            .current-stat
                flex: 1 1 50%
                font-size: 3.5vh
            .prev-stat
                font-size: 1.8vh
                color: hsl(236, 100%, 87%)

    @media only screen and (min-width: $desktop)
        border-radius: 2vh

        display: flex
        flex-direction: column

        &__header
            width: 100%
            border-radius: 5px

            display: flex
            flex-direction: row
            align-items: center

            box-sizing: border-box

            &__title
                flex: 1 1 80%
                width: fit-content
                font-size: 2vh
                font-weight: 500
            img
                height: 5px
        &__stats
            display: block
            .current-stat
                margin: 20px 0 10px 0
                width: 6ch

                font-size: 7vh
            .prev-stat
                font-size: 1.8vh
                color: hsl(236, 100%, 87%)
        
